.featuredSection {
  width: min(100%, 1320px);
  margin: 0 auto;
  padding: 16px 1rem;
  box-sizing: border-box;
}

.featuredCard {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 36px;

  background: var(--ifm-card-background-color);
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: var(--ifm-global-shadow-md);
}

/* html[data-theme='dark'] .featuredCard {
      box-shadow: 0 4px 28px gray;
} */

.contentBlock {
  display: flex;
  align-items: center;
}

.inner {
  width: 100%;
  padding: 48px 56px;
  box-sizing: border-box;
}

.servicesBlock {
  padding: 32px 32px 32px 0;
  display: flex;
  align-items: center;
}

.eyebrow {
  display: inline-flex;
  align-items: center;
  margin-bottom: 18px;
  padding: 7px 12px;
  border-radius: 999px;

  background: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  color: var(--ifm-font-color-secondary);

  font-size: 0.72rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.title {
  /* margin: 0;
  color: var(--ifm-font-color-base);
  font-size: clamp(1.8rem, 3vw, 4.8rem);
  line-height: 0.95;
  letter-spacing: -0.055em;
  font-weight: 800; */

  margin: 0;
  color: var(--ifm-font-color-base);
  font-size: clamp(2rem, 2.2vw, 2.5rem);
  font-weight: 800;
  line-height: 0.96;
  letter-spacing: -0.005em;
  text-rendering: geometricPrecision;
}

.description {
  margin-top: 28px;
  margin-bottom: 0;
  max-width: 720px;
  color: var(--ifm-font-color-secondary);
  font-size: clamp(0.95rem, 0.18vw, 1.1rem);
  line-height: 1.45;
  font-weight: 500;
}

.primaryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: 36px;
  padding: 8px 28px;
  border-radius: 10px;

  background: #e20074;
  color: #ffffff;
  text-decoration: none;

  font-size: 0.92rem;
  font-weight: 700;

  transition: transform 180ms ease, background 180ms ease;
}

.primaryButton:hover {
  background: #f00084;
  color: #ffffff;
  text-decoration: none;
  transform: translateY(-1px);
}

@media (max-width: 996px) {
  .featuredSection {
    padding: 12px 0;
  }

  .inner {
    padding: 36px 28px;
  }


  .servicesBlock {
    padding: 0 28px 36px;
  }

  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .featuredCard {
    border-radius: 28px;
  }

  .inner {
    padding: 28px 22px;
  }

  .servicesBlock {
    padding: 0 22px 28px;
  }

  .title {
    font-size: 2rem;
  }

  .primaryButton {
    width: 100%;
  }
}