.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* @media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
} */

@media (hover: none) and (pointer: coarse) {
  .hideOnTouch {
    display: none !important;
  }
}