.filtersSep {
    opacity: .5;
    padding: 0 6px;
    user-select: none
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* target ODS button root element */
.buttonGroup :global(.ODSButton) {
    width: 100%;
}

.centerContent {
    align-items: center;
    justify-content: center;
}