/* styles.module.css */

.article {
  /* border-bottom: 1px solid #e0e0e0; */
  padding: 16px 0;
}

.itemRow {
  display: flex;
  align-items: flex-start;
}

.icon {
  margin-right: 16px;
  margin-top: 6px
}

.content {
  flex: 1;
}

.title {
  font-size: 1.20rem;
  font-weight: 600;
  color: var(--text-base, var(--ifm-font-color-base));
  text-decoration: none;
}

.title:hover {
    color: #e20074;
}

html[data-theme='dark'] .title:hover {
  color: #e20074;
}

html[data-theme='dark'] .title {
  color: var(--ifm-font-color-base);
}

.description {
  margin-top: 0px;
  font-size: 0.8rem;
  line-height: 1.3rem;                 /* match your theme’s line-height */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-word;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header {
  margin-bottom: 2rem;
}

.viewAll {

}
