
.item {
  box-shadow: 0 1px 3px gray;
  background-color: var(--ifm-background-color);
  border-radius: 0.5rem;
  color: black;
  overflow: hidden;
}

html[data-theme='dark'] .item {
  box-shadow: 0px 1px 3px var(--ifm-color-primary);
  background-color: var(--ifm-background-color);
  border-radius: 0.5rem;
  color: white;
  overflow: hidden;
}

.item__inner {
  align-items: center;
  display: flex;
}
.item__inner div {
  padding: 1.5rem;
}
.item__title span {
  display: block;
  font-size: 1.25rem;
}