:global(.navbar) {
  height: 72px;
  padding: 0;
}

.navbarInner {
  height: 100%;
  position: relative;
  padding-left: 72px; /* same as logo block width */

  display: flex;
  align-items: center;
}

.navbarLeft {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbarCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
}

.navbarCenter :global(.navbar__link){
  font-size: larger;
}

.navbarLeft :global(.navbar__brand) {
  position: absolute;
  left: 0;
  top: 0;

  width: 72px;
  height: 72px;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #e20074;
}

.navbarLeft :global(.navbar__logo) {
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLeft :global(.navbar__logo img) {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
